<!DOCTYPE html>
<html lang="en">
<head>
    <title>wtw.blog</title>
   <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="main">
 <!-- =============== HEADER ================-->

    <%- include('./partials/header.ejs') %>

 <!-- =============s== MAIN ================-->
 
    <div class="intro">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique earum ipsum, voluptates placeat sed perferendis.</p> 
    </div>
    <div class="center new-post">
        <a href="/blog/new">New post</a>
    </div>
   
        <% for (let i = 0; i < health.length; i++){ %>
            <div class="post">
                <div class="img" data-aos="fade-in">
                    <img src="<%=health[i].image%>" alt="N/A">
                </div>
                <div class="center date">
                    <span><%=health[i].date%></span>
                </div>
                <div class="center title">
                    <h3><%=health[i].title%></h3> 
                </div>
                <div class="center">
                    <a href="/blog/<%=health[i].id%>">read more</a>
                </div>
                <div class="center"><ion-icon name="pricetag-sharp"></ion-icon>
                    <a href="/tags/<%=health[i].tag%>"><%=health[i].tag%></a>
                </div>
            </div> 
        <%}%>
    

<!-- =============== FOOTER ================-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true
      });
    </script>
    </div>
</body>
</html>