<!DOCTYPE html>
<html lang="en">
<head>
    <title>wtw.blog</title>
   <%- include('./partials/head.ejs') %>
</head>
<body>
 <!-- =============== HEADER ================-->

    <%- include('./partials/header.ejs') %>

 <!-- =============== MAIN ================-->
    <div class="main">
        <h1><span>W</span>hats <span>T</span>he <span>W</span>ord ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias provident blanditiis ipsa perferendis molestiae soluta quae facere distinctio libero eos quo nobis dicta, officiis nihil iste voluptate natus ea eaque!</p> 
    </div>
    <div>
        <a href="/blog/new">new</a>
    </div>
   
        <% for (let i = 0; i < health.length; i++){ %>
            <div>
                <div data-aos="fade-in">
                    <img src="<%=health[i].image%>" alt="N/A">
                </div>
                <div>
                    <h3><%=health[i].title%></h3> 
                </div>
                <div>
                    <span><%=health[i].date%></span>
                </div>
                <!-- everytime I click on the read more, in the action will work but it crashes my server right after it is performed -->
                <div>
                    <a href="/blog/<%=health[i].id%>"><span>read more</span></a>
                </div>
                <div>
                    <a href="/tags/<%=health[i].tag%>"><%=health[i].tag%></a>
                </div>
            </div> 
        <%}%>
    

<!-- =============== FOOTER ================-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: false
      });
    </script>
</body>
</html>