<!DOCTYPE html>
<html lang="en">
<head>
    <title>wtw.blog</title>
   <%- include('./partials/head.ejs') %>
</head>
    <body class="main">
 <!-- =============== HEADER ================-->

         <%- include('./partials/header.ejs') %>

 <!-- =============== MAIN ================-->
        <section>
            <div class="post">
                <div class="center new-post new-post-show">
                    <a href="/blog/new">New post</a>
                </div>
                <div class="center title" id="show-title">
                    <h1><%=health.title%></h1>
                </div>
                <div class="img" data-aos="fade-in">
                    <img src="<%=health.image%>" alt="N/A">
                </div>
                <div  class="center show-excert">
                     <p><%=health.excert%></p>
                </div>

               <form  class="center" action="/blog/<%=health.id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete">
                <a href="/blog/<%=health.id%>/edit">EDIT</a>
               </form>
               <div  class="center"><ion-icon name="pricetag-sharp"></ion-icon>
                    <a href="/tags/<%=health.tag%>"><%=health.tag%></a>
                </div>
            </div>
        </section>
         
    <!-- =============== FOOTER ================-->
    <%- include('./partials/footer.ejs') %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1700,
        once: true
      });
    </script>
</body>
</html>

