<!DOCTYPE html>
<html lang="en">
<head>
    <title>RUN-ON-BLOG</title>
   <%- include('./partials/head.ejs') %>
</head>
<body>
 <!-- =============== HEADER ================-->

    <%- include('./partials/header.ejs') %>

 <!-- =============== MAIN ================-->

    <h1><%=health.title%></h1>
    <img src="<%=health.image%>" alt="N/A">
    <p><%=health.excert%></p>
     
    <nav>
        <a href="/blog">full blog</a>
    </nav>
</body>
</html>




