<!DOCTYPE html>
<html lang="en">
<head>
    <!-- You use scriplets/wizards hats when ypu want to pass JS as the value, when you need just regualr hardcoding in a file, you would use a script tag -->
    <!-- This is generating a new background color whenever you refresh/load the tag page -->
    <script>
        window.onload = () => {
           const bgColorArray = [ '#F4EEE1', '#F3ECE7', '#ADA3A490', '#E9CCB1']

        const setRandomBgColor = Math.floor(Math.random() * bgColorArray.length) + 1

        document.body.style.backgroundColor = bgColorArray[setRandomBgColor - 1]
        }
    </script>

    <title>wtw.<%=health.title%></title>
   <%- include('./partials/head.ejs') %>
</head>
<body>
 <!-- =============== HEADER ================-->

    <%- include('./partials/header.ejs') %>

 <!-- =============== MAIN ================-->
    <div>
        <h4 id="wtw-tag-intro"> what's the word on <span><i><%= tag %></i></span> ?</h4>
    </div>
    <div class="center new-post">
        <a href="/blog/new">New post</a>
    </div>
        <% for (let i = 0; i < health.length; i++){ %>
               <div class="post">
                    <div class="img" data-aos="fade-left">
                        <img src="<%=health[i].image%>" alt="N/A">
                    </div>
                    <div class="center title" id="tag-title">
                        <h1><%=health[i].title%></h1>
                    </div>
                    <div  class="center show-excert tag-excert" data-aos="fade-right">
                        <p> <%=health[i].excert%></p>
                    </div>
                    <div class="center">
                        <a href="/blog/<%=health[i].id%>">read more</a>
                    </div>
                <form class="center" action="/blog/<%=health[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                    <a href="/blog/<%=health[i].id%>/edit">EDIT</a>
                </form>
                <div class="center"><ion-icon name="pricetag-sharp"></ion-icon>
                    <a href="/tags/<%=health[i].tag%>"><%=health[i].tag%></a>
                </div>
            </div>
            
        <%}%>
 
<!-- =============== FOOTER ================-->
    <%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        once: true
      });
    </script>
    
</body>
</html>